.details-div {
  display: flex;
}
.details-div .detail-btn {
  margin-left: 1em;
  text-decoration: none;
  padding-bottom: 10px;
}
/* .details-div .detail-btn  */

/* .details-div Navlink:hover {
  color: pink;
} */
