.shipping-div {
  border: 1px solid black;
  margin-top: 20px;
  padding: 20px 0.4em 20px 1em;
}
.shipping-div .box {
  display: grid;
  grid-template-columns: auto auto;
  /* place-items: center; */
}
.shipping-div .formControl {
  width: 96%;
  /* border: 1px solid black; */
}
.formControl input {
  border: none;
  margin-top: -12px;
  border: 1px solid grey;
}
.shipping-div button {
  padding: 10px 4em;
  margin-top: 20px;
  background-color: rgb(252, 100, 134);
  color: white;
  font-weight: normal;
  text-transform: capitalize;
}

.user-address {
  display: grid;
  font-size: 0.8em;
  gap: 1em;
  margin-top: 20px;
  grid-template-columns: auto auto;
}
.user-address .name-icon {
  display: flex;
  justify-content: space-between;
}
.user-address .address-btn {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(252, 100, 134);
  color: white;
  border: none;
  margin-top: 10px;
}

.addNewAddress {
  width: 100%;
  padding: 10px 0;
  background-color: white;
  color: rgb(252, 100, 134);
  margin: 10px 0;
  border: 1px solid grey;
}
